[Unit]
Description=Disables BIOS control of fans at boot.
Before=i8kmon.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/dell-bios-fan-control 0
RemainAfterExit=true
ExecStop=/usr/sbin/dell-bios-fan-control 1

[Install]
WantedBy=multi-user.target
