[Unit]
Description=KRSTBOOT: apply krst resume . . .
After=suspend.target

[Service]
User=root
Type=simple
ExecStart=/usr/sbin/krstresume

[Install]
WantedBy=suspend.target
